.raid {
  
  font-size:3vw;
  padding: 20px;
}


.pvp {
  
  font-size:3vw;
 
}


.survive {
  
  font-size:3vw;
  
}

/* w3 slideshow class */
.mySlides {display:none}


h4 {
  text-align: center;
  font-size:3vw;
  font-family: 'Luckiest Guy', cursive;
  
}

h3 {
  
  text-align:center;
  
}


p {
  
  text-align: left; /* centred is hard to read so made left aligned because Mr Harrison said so */
  
   /*   /* talking Jack .... 1 vw makes it too hard to read */
  font-size: 1em;
  
  /* dont want fixed sizes, needs to be resposive
  margin-left:110px;
  margin-right:110px;
  */
  margin-left:25%;
  margin-right:25%;
  padding-bottom:3%;
}

.main-container80 {
  margin: auto;
  width: 100%;
  
}

.empty{
  
  padding-bottom:3%;
  
}

.empty2{
  
  padding-bottom:3%;
  
}


.aboutparagraph2 {
  
  padding-top :3%;
  
}
